<div class="awesome-box col-xs-4 col-xs-offset-4 text-center">
 	
 	<h1>The best life tips...</h1>
	<h2>
		"
		<%= @quote.saying %>
		"
	</h2>
	
	<h3>
		Rating:
		<% if@quote.rating %>
			<%= @quote.rating %>
			<% else %>
				None
			<% end %>

	</h3>

	<p>
		<%= @quote.author %>
	</p>

	<%= link_to 'New', new_quote_path, :class => 'btn btn-primary' %>

</div>	